*{
    margin: 0;
}

body{
    font-family: 'Allan', sans-serif;
    background-color: #8fabd9;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.title{
    color: white;
}